body{
    font-family: calibri;
    background-color: #eee;
}
.header{
  color: #775555;
  text-align:center;
/*   padding-top: 10px; */
}

#main-menu{
  display: table;
  margin: 0 auto;
}

#main-menu > li{
  float: left;
  margin: 10px;
  list-style-type:none;
  color: #668866;
}

.about{
  background-color: #fff;
  margin: 2%;
  padding: 0.7% 3%;
  font-size:1.1rem;
  font-family: Roboto, sans-serif;
  border-radius: 3%;
}

#carousel{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    display: block;
}

#carImg{
    margin: 0 auto;
    padding: 0 auto;
    width: 80%;
    max-width: 1200px;
    height: 500px;
}

.cbtn{
    background-color: black;
    color: white;
    font-size: larger;
    padding: 1.5%;
}

#pbtn{
  
    
}
#nbtn{
}

#controls{
     display: block;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    cursor: pointer;
}